<p>
  <b>Unidade:</b>
  <%=h @acesso_unidade.unidade_id %>
</p>

<p>
  <b>Acesso:</b>
  <%=h @acesso_unidade.acesso_id %>
</p>


<%= link_to 'Edit', edit_acesso_unidade_path(@acesso_unidade) %> |
<%= link_to 'Back', acesso_unidades_path %>