<p>
  <b>Nome:</b>
  <%=h @tplogradouro.nome %>
</p>

<p>
  <b>Abrev:</b>
  <%=h @tplogradouro.abrev %>
</p>


<%= link_to 'Edit', edit_tplogradouro_path(@tplogradouro) %> |
<%= link_to 'Back', tplogradouros_path %>