<p>
  <b>Bairro:</b>
  <%=h @bairro_micro.bairro_id %>
</p>

<p>
  <b>Micro:</b>
  <%=h @bairro_micro.micro_id %>
</p>


<%= link_to 'Edit', edit_bairro_micro_path(@bairro_micro) %> |
<%= link_to 'Back', bairro_micros_path %>