<p>
  <b>Unidade:</b>
  <%=h @atividade_unidade.unidade_id %>
</p>

<p>
  <b>Atividade:</b>
  <%=h @atividade_unidade.atividade_id %>
</p>


<%= link_to 'Edit', edit_atividade_unidade_path(@atividade_unidade) %> |
<%= link_to 'Back', atividade_unidades_path %>