<p>
  <b>Empresa:</b>
  <%=h @empresa_formapagto.empresa_id %>
</p>

<p>
  <b>Formapagto:</b>
  <%=h @empresa_formapagto.formapagto_id %>
</p>


<%= link_to 'Edit', edit_empresa_formapagto_path(@empresa_formapagto) %> |
<%= link_to 'Back', empresa_formapagtos_path %>